<div id="about">
  <span>mustacchio started</span><br>
  <img src="../../../assets/photographer.jpg" alt="photographer-image">
  <div class="cut-above-the-rest">
    <h3>A Cut Above the Rest</h3>
    <p>Welcome to Mustacchio, a modern spin on the traditional Mexican barbershop.
       We provide a special environment designed to embrace a man’s masculinity, minus all the macho.
       Simply put, we are the “Better Barbershop” that offers an inviting environment to guys who value quality,
       particularly with their grooming. Whether you’re looking for a Classic Cut or prefer to go
       the extra mile with a straight razor face shave or beard trim, we’ll make sure you look great and feel even better.
    </p>
  </div>
  <div class="serving-all-ages">
    <h3>Serving All Ages</h3>
    <p>At Mustacchio’s, we offer a family-friendly atmosphere that is perfect for all ages. We invite dads to bring their sons
       in for a memory-making barbershop experience that they’ll look forward to every time. For our young customers under the
       age of 12, we offer junior haircuts and will make sure they enjoy their experience and love their cool new look.
    </p>
  </div>
  <div class="our-products">
    <h3>Our Exclusive Products</h3>
    <p>Our barbershop offers exclusive hair care and shaving products that are specially formulated by Frank Mustacchio and are
       only available at our shops. These grooming products are designed especially for men and will allow our customers to
       maintain their fresh new look long after they get up out of our chair.
    </p>
  </div>
</div>
