<div id="single-post">
  <h3>blog single post</h3>
  <img src="../../../assets/single-post-image.jpg" alt="single-post-image">
  <div class="post">
    <h2>why i grew a mustache</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aperiam
       aut commodi consequatur consequuntur cupiditate delectus dicta eius error
       incidunt laborum magnam non odio praesentium quas quia quisquam, quos tempore.
       Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aperiam
       aut commodi consequatur consequuntur cupiditate delectus dicta eius error
       incidunt laborum magnam non odio praesentium quas quia quisquam, quos tempore.
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aperiam
      aut commodi consequatur consequuntur cupiditate delectus dicta eius error
      incidunt laborum magnam non odio praesentium quas quia quisquam, quos tempore.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aperiam
      aut commodi consequatur consequuntur cupiditate delectus dicta eius error
      incidunt laborum magnam non odio praesentium quas quia quisquam, quos tempore.
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aperiam
      aut commodi consequatur consequuntur cupiditate delectus dicta eius error
      incidunt laborum magnam non odio praesentium quas quia quisquam, quos tempore.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aperiam
      aut commodi consequatur consequuntur cupiditate delectus dicta eius error
      incidunt laborum magnam non odio praesentium quas quia quisquam, quos tempore.
    </p>
  </div>
</div>
