@import "src/mixins";

#gallery {
  text-align: center;
}


.gallery-images {
  display: grid;
  grid-template-columns: repeat(3, 296px);
  grid-gap: 25px;
  justify-content: center;
}


#gallery h3 {
 @include header;
}


.gallery-images img {
  border: 2px solid #1a1a1a;
  opacity: 0.8;
}


.gallery-images img:hover {
  transition: 0.5s ease-in-out;
  opacity: 1;
}
