<div id="featured">
  <img src="../../../assets/the-beacon.jpg" alt="the-beacon">
  <div class="beacon-description">
    <h2>the beacon to all mankind</h2>
    <span>Our website templates are created with</span>
    <span>inspiration, checked for quality and originality</span>
    <span>and meticulously sliced and coded.</span><br>
    <button routerLink="/blog-single-post">Read more</button>
  </div>
  <div class="other-types">
    <div class="father">
      <img src="../../../assets/the-father.jpg" alt="the-father">
      <a routerLink="/gallery">the father</a>
    </div>
    <div class="actor">
      <img class="the-actor" src="../../../assets/the-actor.jpg" alt="the-actor">
      <a routerLink="/gallery">the actor</a>
    </div>
    <div class="nerd">
      <img src="../../../assets/the-nerd.jpg" alt="the-nerd">
      <a routerLink="/gallery">the nerd</a>
    </div>
  </div>
</div>

