@mixin header() {
  background: #252525;
  display: inline-block;
  padding: 15px 28px 12px;
  text-transform: uppercase;
  color: white;
  font-family: 'Poller One', cursive;
  font-weight: 400;
  margin: 20px 0;
  font-size: 35px;
  line-height: 35px;
}

@mixin button() {
  background: #000;
  color: #fff;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 18px;
  padding: 8px 28px;
  text-transform: uppercase;
  border: 1px solid #000;
  line-height: 16px;
}

@mixin buttonHover() {
  color: #252525;
  background: #fff;
  border: 2px solid #252525;
  line-height: 14px;
}
