<div id="blog">
  <h3>blog</h3>
  <div class="individual-posts">
    <div class="post-1">
      <img src="../../../assets/individual-post-1.jpg" alt="image-post-1">
      <div class="post-1-description">
        <h2>why i grew a mustache</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Cupiditate harum in nam obcaecati quam repellat.
          Aperiam assumenda aut consectetur culpa eius facilis ipsa
          ipsam perspiciatis porro quae, suscipit, tempora voluptatum!
        </p>
        <button>read this</button>
      </div>
    </div>
    <div class="post-2">
      <img src="../../../assets/individual-post-2.jpg" alt="image-post-2">
      <div class="post-2-description">
        <h2>in the country</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Cupiditate harum in nam obcaecati quam repellat.
          Aperiam assumenda aut consectetur culpa eius facilis ipsa
          ipsam perspiciatis porro quae, suscipit, tempora voluptatum!
        </p>
        <button>read this</button>
      </div>
    </div>
    <div class="post-3">
      <img src="../../../assets/individual-post-3.jpg" alt="image-post-3">
      <div class="post-3-description">
        <h2>in the country</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Cupiditate harum in nam obcaecati quam repellat.
          Aperiam assumenda aut consectetur culpa eius facilis ipsa
          ipsam perspiciatis porro quae, suscipit, tempora voluptatum!
        </p>
        <button>read this</button>
      </div>
    </div>
  </div>
</div>
