@import "src/mixins";


#blog {
  text-align: center;
}


#blog h3 {
  @include header;
}


.post-1, .post-2, .post-3 {
  display: flex;
  width: 62%;
  justify-content: center;
  margin: 0 auto;
}


.post-2 {
  margin: 15px auto;
}


.post-1 img, .post-2 img, .post-3 img {
  border: 2px solid #1a1a1a;
}


.post-1-description, .post-2-description, .post-3-description {
  border: 2px solid #1a1a1a;
  border-left: none;
  padding-top: 63px;
}


.post-1-description h2, .post-2-description h2, .post-3-description h2 {
  @include headerBlog;
}


.post-1-description p, .post-2-description p, .post-3-description p {
  color: #252525;
  line-height: 24px;
  margin: 0;
  padding: 30px 30px 18px;
  font-size: 14px;
  font-family: Arial, serif;
}


button {
  @include button;
}


button:hover {
  @include buttonHover;
}
